.img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.image-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, #2D3037 0%, rgba(45, 48, 55, 0.00) 60%, transparent);
  pointer-events: none;
}