.range_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;

  label {
    margin-bottom: 5px;
    color: #ffffff;
  }

  input[type="range"] {
    width: 85%;
    -webkit-appearance: none;
    appearance: none;
    background: #8E94A2;
    height: 4px;
    border-radius: 5px;
    transition: opacity .2s;
    margin-top: 10px;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4AF11F;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4AF11F;
    cursor: pointer;
  }

  .labels {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 5px;
    padding: 0 20px;

    .leftLabel {
      color: #8C8D92;
      width: 45%;
      text-align: left;
    }

    .rightLabel {
      color: #8C8D92;
      width: 45%;
      text-align: right;
    }
  }
}