.container {
  display: flex;
  flex-direction: column;
  height: 12vh;
}

.footer {
  box-sizing: border-box;
  width: 95%;
  height: 50px;
  background: #2d3037;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;

  .footerIconList {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
  }

  .footerIconItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.notification {
  opacity: 0.7;
  position: fixed;
  bottom: 80px;
  left: 70%;
  transform: translateX(-50%);
  background: #2d3037;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
