.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
  position: relative;

  label {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 1px;
    margin-left: 25px;
  }

  textarea {
    width: 90%;
    padding: 15px;
    font-size: 16px;
    border: 2px solid #D5DBE9;
    border-radius: 25px;
    outline: none;
    box-sizing: border-box;
    height: 170px;
    line-height: 1.5;
    resize: vertical;
    overflow-y: hidden;
    overflow-scrolling: auto;

    &:focus {
      border-color: #4caf50;
    }

    &::placeholder {
      text-align: justify;
      color: #8C8D92;
      line-height: 1.5;
      white-space: pre-wrap;
    }
    &::-webkit-scrollbar {
      width: 10px;
      height: 40px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 5px;
      height: 40px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}