.category-group {
  position: relative;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #1C1D21;
  color: #aaa;
  cursor: pointer;
  width: 90%;
  border-radius: 20px;
  .span {
    margin-right: -30px;
  }

  

  .category-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    
    
  
    input[type="radio"] {
      appearance: none;
      margin: 0;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 2px solid #555;
      border-radius: 50%;
      position: relative;
  
      &:focus {
        outline: none;
      }
  
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: transparent;
        transition: background 0.3s ease;
      }
      
      &:checked::before {
        background: #28a745;


      }
    }
  

  }
  
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-weight: bold;
    color: #888;
    
    

    .icon {
      width: 24px; 
      height: 24px;
      margin-right: 16px;
  }


  }

  .category-options {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;

    label {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-weight: normal;
      color: #ccc;
      cursor: pointer;

      input[type='radio'] {
        margin-right: 10px;
        accent-color: #28a745; 
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .category-option {
      display: flex;
      align-items: center;
      justify-content: space-between;

      input[type='radio'] {
        margin-right: 10px;
      }
    }
  }
}
