.languageSelector {
  padding: 20px;
  border-radius: 10px;
  width: 90vw;
  max-width: 600px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  position: relative;
}

.backButton {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff; 
  font-size: 24px; 
  padding: 15px; 
  gap: 15px;

}

.languagesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.languageOption {
  padding: 10px 25px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border: 1px solid #8E94A2;
  // Add a default style for the indicator when not selected
  &::after {
    content: "";
    position: absolute;
    right: -30px;
    top: 43%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #4AF11F;
  }
}

.languageOption.selected {
  background-color: #4d4d4d;
  border: none;
  // Modify the indicator for the selected state
  &::after {
    background-color: #4AF11F; // A bright color for selected state
    border: 2px solid #4AF11F;
  }
}
.indicator {
  display: none;
}

