.birthdayInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;

  .error {
    margin-left: 50%;
    color: red;
    font-size: 1em;
  }

  div{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
}



