.header_container {
  position: relative;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 21px;
  left: 35px;
  right: 35px;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  span{
    font-size: 25px;
    color: white;
  }

  .icon {
    margin-left: 150px;
    cursor: pointer;
  }
}
