.photo_upload {
  display: flex;
  margin-top: 21px;
  gap: 30px;
  margin-bottom: 20px;

  .photo-slot {
    width: 93px;
    height: 93px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .photo-upload-label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 36px;
      color: #fff;
      background-color: #444;
      border-radius: 8px;
      transition: background-color 0.3s;
    }
  }
}

.crop-container {
  margin-top: 20px;
  width: 100%;
  height: 100%;

  .button-group {
    display: flex;
    gap: 1em;
    margin-top: 1em;

    button {
      outline: none;
      padding: 0.5em 1em;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background: #2D3037;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  outline: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}