.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;

  h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
    align-self: flex-start;
    margin-left: 29px;
  }
  .span{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    align-self: flex-start;
    p{
      font-size: 15px;
      color: #8C8D92;
    }
  }
  .span1{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    align-self: flex-start;
    margin-left: 2px;
  }

  .Name, .Religion, .Birthday {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-self: flex-start;
    margin-left: 29px;
  }

  .Name, .Religion {
    width: 85%;
    margin-bottom: 20px;
    margin-top: 20px;

    input {
      margin-top: 20px;
      padding: 17px 20px;
      font-size: 18px;
      border: 2px solid #8C8D92;
      border-radius: 20px;
      text-align: left;

      &:focus {
        border-color: #4caf50;
      }

      &::placeholder {
        font-size: 18px;
        text-align: left;
        color: #8C8D92;
      }
    }
  }
  .button{
    margin-top: 20px;
    align-self: flex-start;
    margin-left: 30px;
    width: 85%;
    padding: 10px 0;
    font-size: 20px;
    color: #000000;
    border-radius: 25px;
    background: #4AF11F;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

.Birthday{
margin-top: 20px;
  label {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 20px;
  }

  input {
    padding: 20px 0;
    font-size: 18px;
    border: 2px solid #8C8D92;
    border-radius: 20px;
    text-align: center;
    width: 40%;

    &::placeholder {
      font-size: 18px;
      text-align: center;
      color: #8C8D92;
    }
  }
}
