.slider-container {
  margin-bottom: 50px;
  width: 100%;


  .slider-labels {
    display: flex;
    justify-content: space-between;

    margin-bottom: 10px;
    width: 100%;

    span {
      color: #8C8D92;
    }

    .start{
      width: 50%;
      text-align: left;
    }
    .end{
      width: 50%;
      text-align: right;
    }
  }

  .slider-track {
    position: relative;
    height: 3px;
    background: #8E94A2;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }

  .slider-thumb {
    position: relative;
    top: -10.5px;
    width: 15px;
    height: 15px;
    background: #4AF11F;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}
